// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.radio-button {
  padding-left: 30px;
}

select {
  width: 60%;
  text-align: left;
}

table {
  width: 80%;
}



.message {
  margin: 200px auto;
  text-align: center;

}

.item-name {
  font-size: 15px;
}

.payment_info td {
  text-align: right;
}