<div class="container">
  <div class="row">
    <div class="col-lg-2 mt-5 mx-auto">
      <h4 class="px-3 text-left">会員一覧</h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-10 mx-auto">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.name, admin_customer_path(customer.id), class: "text-dark" %></td>
            <td><%= customer.email%></td>
            <td>
              <% if customer.is_active %>
                <p class="text-success">有効</p>
              <% else %>
                <p clas="text-secondary">退会</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @customers%>
</div>

